{% extends "/base.html.twig" %}

{% block body %}
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">login</label>
        <input type="text" id="username" name="_username"/>
        <label for="password">password</label>
        <input type="password" id="password" name="_password"/>
        <input type="submit" value="connect"/>
    </form>
{% endblock %}
